<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modification d'un personnage</title>
</head>
<body>
<h1>Modification d'un personnage</h1>


//Le `@{/...}` est une syntaxe Thymeleaf pour générer des URL relatives. Dans ce cas, l'URL est générée en utilisant l'ID du personnage dans la partie dynamique `__${personnage.id}__`.
<form th:action="@{/personnages/__${personnage.id}__/modifier}" method="post" th:object="${personnage}">
  //Cet attribut lie l'objet `personnage` au formulaire. Cela signifie que les valeurs des champs du formulaire seront liées aux propriétés de l'objet `personnage`.
  <div>
    <label>Nom:</label>
    // Cet attribut lie le champ de saisie au champ `nom` de l'objet `personnage`. L'astérisque (*) est utilisé pour indiquer que l'objet `personnage` est le contexte actuel.
    <input type="text" th:field="*{nom}" required autofocus />
    //Cette expression conditionnelle vérifie si le champ `nom` a des erreurs de validation.
    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
  </div>
  <div>
    <label>Type:</label>
    <select th:field="*{type}" required>
      <option value="guerrier" th:selected="${personnage.type == 'guerrier'}">Guerrier</option>
      <option value="mage" th:selected="${personnage.type == 'mage'}">Mage</option>
    </select>
  </div>
  <div>
    <label>Points de vie:</label>
    <input type="number" th:field="*{pointsDeVie}" min="1" max="10" required />
    <span th:if="${#fields.hasErrors('pointsDeVie')}" th:errors="*{pointsDeVie}"></span>
  </div>
  <button type="submit">Modifier</button>
</form>
</body>
</html>
